<div class="category-manager">
    <div class="filter">
        <mat-form-field class="example-user-input">
            <mat-label>Choose a Category</mat-label>
            <mat-select [formControl]="position">
                <mat-option value=''>-Select-</mat-option>
                <mat-option *ngFor="let positionOption of positionOptions" [value]="positionOption">
                    {{positionOption}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="scrap()" [disabled]="!position.value"><span
                class="mdi">search</span>Fetch
            Products</button>
    </div>
    <div class="scrapped-data">
        <div class="header">
            <h5>Latest 100 Records Displayed</h5>
            <div class="search">
                <mat-form-field class="example-form-field">
                    <mat-label>Search in Table</mat-label>
                    <input matInput type="text" [(ngModel)]="value" (ngModelChange)="search(value)">
                    <span class="mdi" *ngIf="value" (click)="value=''; search(value)">close</span>
                </mat-form-field>
            </div>
            <button mat-icon-button color="primary" *ngIf="products && products.length">
                <span class="mdi" (click)="download()">download_for_offline</span>
            </button>
        </div>
        <table mat-table [dataSource]="products" *ngIf="products && products.length" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="asin">
                <th mat-header-cell *matHeaderCellDef> ASIN. </th>
                <td mat-cell *matCellDef="let element"> {{element.asin}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef> PRODUCT NAME. </th>
                <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> CATEGORY. </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actualPrice">
                <th mat-header-cell *matHeaderCellDef> ACTUAL PRICE. </th>
                <td mat-cell *matCellDef="let element"> {{element.actualPrice}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="sellingPrice">
                <th mat-header-cell *matHeaderCellDef> SELLING PRICE. </th>
                <td mat-cell *matCellDef="let element"> {{element.sellingPrice}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="offerPercentage">
                <th mat-header-cell *matHeaderCellDef> OFFER (%) </th>
                <td mat-cell *matCellDef="let element"> {{element.offerPercentage}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="products && !products.length">No Products Fetched</div>
    </div>
</div>