.category-manager {
  padding: 15px;
  .filter {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 15px 0;
    margin-bottom: 15px;
    .left10px {
      margin-left: 10px;
    }
    .range {
      width: 80px;
    }
    button {
      vertical-align: super;
      margin-left: 10px;
      span {
        margin-right: 10px;
      }
    }
  }
  .scrapped-data {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    .header {
      padding: 5px 0 5px 0;
      color: #3f51b5;
      margin-bottom: 10px;
      overflow: hidden;
      h5 {
        display: inline-block;
        font-size: 18px;
      }
      button {
        float: right;
        font-size: 28px;
        span {
          width: 25px;
          fill: #3f51b5;
          vertical-align: baseline;
        }
      }
    }
    table {
      width: 100%;
    }
  }
  .search {
    width: 300px;
    display: inline-block;
    margin-left: 30px;
    .example-form-field {
      width: 300px;
      .mat-form-field-wrapper {
        padding: 0 !important;
      }
    }
    span {
      float: right;
      margin-top: -24px;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
  }
  .scheduled-jobs {
    h4 {
      font-size: 26px;
      margin: 15px 0;
    }
    ul {
      display: block;
      li {
        color: rgb(126, 126, 126);
        width: calc(20% - 34px);
        list-style: none;
        list-style-type: none;
        border: 2px solid #ddd;
        height: 140px;
        margin: 5px;
        border-radius: 5px;
        display: inline-block;
        padding: 20px 10px;
        vertical-align: top;
        &.orange {
          border-color: orange;
          span {
            color: orange;
          }
        }
        &.green {
          border-color: #10c810;
          span {
            color: #10c810;
            animation: rotating 1.5s infinite;
          }
        }
        &.ok {
          border-color: #3f51b5;
          span {
            color: #3f51b5;
            // animation: rotating 1.5s infinite;
          }
        }
        div {
          text-align: center;
          &:first-child {
            font-size: 22px;
            margin-bottom: 10px;
          }
          &:last-child {
            font-size: 12px;
            color: #ccc;
            &::before {
              content: "Scheduled at: ";
            }
          }
        }
        span {
          font-size: 60px;
          display: block;
          margin: 10px;
        }
      }
    }
  }
}

.status {
  border: 1px solid red;
}

.mat-cell {
  span.mdi {
    color: #3f51b5;
    &.no {
      color: #ccc;
    }
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
