<div class="category-manager">
    <div class="filter">
        <h3>Schedule a Job</h3>
        <form [formGroup]="newJob">
            <mat-form-field>
                <mat-label>Choose a Category</mat-label>
                <mat-select formControlName="category" (selectionChange)="updateSubCategory($event)">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories && subCategories.length">
                <mat-label>Choose a Sub Category</mat-label>
                <mat-select formControlName="subCategory">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories" [value]="sCategory">
                        {{sCategory.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="duration && duration.length">
                <mat-label>Interval</mat-label>
                <mat-select formControlName="interval">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let d of duration" [value]="d">
                        {{d}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px range">
                <mat-label>Data From</mat-label>
                <input formControlName="from" #from matInput maxlength="3">
            </mat-form-field>
            <mat-form-field class="left10px range">
                <mat-label>Data To</mat-label>
                <input formControlName="to" #to matInput maxlength="4">
            </mat-form-field>
            <mat-checkbox color="primary" class="left10px" formControlName="prime">Only Prime</mat-checkbox>
            <mat-checkbox color="primary" class="left10px" formControlName="recursive">Recursive Job</mat-checkbox>
            <button mat-raised-button color="primary" (click)="seheduleJob()" [disabled]="!newJob.value.category || !newJob.value.subCategory"><span
                    class="mdi">schedule</span>Schedule</button>
            <button mat-raised-button color="secondary" (click)="setJob()"><span
                    class="mdi">clear_all</span>Reset</button>
        </form>
    </div>
    <div>
        <button mat-raised-button color="secondary" (click)="showJobs()"><span
            class="mdi">refresh</span>Refresh Scheduled Jobs</button>
    </div>
    <!-- <div class="scheduled-jobs">
        <h4 *ngIf="jobs && jobs.length">Active Jobs</h4>
        <ul>
            <li *ngFor="let job of jobs"
                [ngClass]="{'orange': job.status === 'Job Scheduled', 'green': job.status === 'Job Started', 'ok': job.status === 'Job Completed'}">
                <div>{{job.name}}</div>
                <div>{{job.status}}
                    <span class="mdi" *ngIf="job.status === 'Scheduled'">alarm_on</span>
                    <span class="mdi" *ngIf="job.status === 'Job Started'">autorenew</span>
                    <span class="mdi" *ngIf="job.status === 'Job Completed'">done_all</span>
                </div>
                <div>{{job.scheduledAt | date: 'medium'}}</div>
            </li>
        </ul>
    </div> -->

    <div class="scrapped-data" *ngIf="rawJobs && rawJobs.length">
        <div class="header">
            <h5>Scheduled Jobs</h5>
            <div class="search">
                <mat-form-field class="example-form-field">
                    <mat-label>Search Jobs</mat-label>
                    <input matInput type="text" [(ngModel)]="value" (ngModelChange)="search(value)">
                    <span class="mdi" *ngIf="value" (click)="value=''; search(value)">close</span>
                </mat-form-field>
            </div>
            <!-- <button mat-icon-button color="primary" *ngIf="jobs && jobs.length">
                <span class="mdi" (click)="download()">download_for_offline</span>
            </button> -->
        </div>
        <table mat-table [dataSource]="jobs" *ngIf="jobs && jobs.length" class="mat-elevation-z8">
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> CATEGORY. </th>
                <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
            </ng-container>
            <ng-container matColumnDef="subCategory">
                <th mat-header-cell *matHeaderCellDef> SUB-CATEGORY. </th>
                <td mat-cell *matCellDef="let element"> {{element.subCategory.name}} </td>
            </ng-container>
            <ng-container matColumnDef="interval">
                <th mat-header-cell *matHeaderCellDef> INTERVAL. </th>
                <td mat-cell *matCellDef="let element"> {{element.interval}} </td>
            </ng-container>
            <ng-container matColumnDef="recursive">
                <th mat-header-cell *matHeaderCellDef> RECURSIVE. </th>
                <td mat-cell *matCellDef="let element"> {{element.recursive ? 'YES' : 'NO'}} </td>
            </ng-container>
            <ng-container matColumnDef="prime">
                <th mat-header-cell *matHeaderCellDef> PRIME. </th>
                <td mat-cell *matCellDef="let element"> {{element.prime ? 'YES' : 'NO'}} </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> SCHEDULED ON. </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'medium'}} </td>
            </ng-container>
            <ng-container matColumnDef="scheduledBy">
                <th mat-header-cell *matHeaderCellDef> SCHEDULED BY. </th>
                <td mat-cell *matCellDef="let element"> {{element.scheduledBy}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> STATUS. </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="percentage">
                <th mat-header-cell *matHeaderCellDef> Completion (%). </th>
                <td mat-cell *matCellDef="let element"> {{element.percentage ? element.percentage : 0}}% </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <div *ngIf="jobs && !jobs.length">No Jobs Scheduled!</div> -->
    </div>
</div>