<div class="products">
    <div class="filter">
        <h3>Search For Products</h3>
        <form [formGroup]="filter">
            <mat-form-field>
                <mat-label>Choose a Category</mat-label>
                <mat-select formControlName="category" (selectionChange)="updateSubCategory($event)">
                    <mat-option value="">-Select-</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{ category.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories && subCategories.length">
                <mat-label>Choose a Sub Category 1</mat-label>
                <mat-select formControlName="subCategory" (selectionChange)="updateSubCategory1($event)">
                    <mat-option value="">-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories" [value]="sCategory">
                        {{ sCategory.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories1 && subCategories1.length">
                <mat-label>Choose a Sub Category 2</mat-label>
                <mat-select formControlName="subCategory1" (selectionChange)="updateSubCategory2($event)">
                    <mat-option value="">-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories1" [value]="sCategory">
                        {{ sCategory.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories2 && subCategories2.length">
                <mat-label>Choose a Sub Category 3</mat-label>
                <mat-select formControlName="subCategory2" (selectionChange)="updateSubCategory3($event)">
                    <mat-option value="">-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories2" [value]="sCategory">
                        {{ sCategory.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories3 && subCategories3.length">
                <mat-label>Choose a Sub Category 4</mat-label>
                <mat-select formControlName="subCategory3">
                    <mat-option value="">-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories3" [value]="sCategory">
                        {{ sCategory.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px range">
                <mat-label>ASIN</mat-label>
                <input formControlName="asin" matInput>
            </mat-form-field>
            <mat-form-field class="left10px range">
                <mat-label>SKU</mat-label>
                <input formControlName="sku"matInput>
            </mat-form-field>
            <button class="left10px" mat-raised-button color="primary" (click)="search()" [disabled]="!filter.value.category || !filter.value.subCategory">
        <span class="mdi">filter_alt</span>Filter
      </button>
            <button class="left10px" mat-raised-button color="primary" (click)="download()" [disabled]="!filter.value.category || !filter.value.subCategory">
        <span class="mdi">download</span>Download
      </button>
            <button class="left10px" mat-raised-button color="secondary" (click)="setFilter()">
        <span class="mdi">clear_all</span>Reset
      </button>
        </form>
    </div>
    <div *ngIf="products && products.length">
        <table mat-table [dataSource]="products">
            <ng-container matColumnDef="asin">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10">ASIN.</th>
                <td mat-cell *matCellDef="let element">{{ element.asin }}</td>
            </ng-container>
            <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10">SKU.</th>
                <td mat-cell *matCellDef="let element">{{ element.sku }}</td>
            </ng-container>
            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef class="p-10">Label.</th>
                <td mat-cell *matCellDef="let element">{{ element.label }}</td>
            </ng-container>
            <ng-container matColumnDef="item_dimensions_weight">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10">Weight.</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.item_dimensions_weight }}
                </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10">Price.</th>
                <td mat-cell *matCellDef="let element">{{ element.price }}</td>
            </ng-container>
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef class="w-icon p-10"></th>
                <td mat-cell *matCellDef="let row">
                    <a target="_blank" href="https://www.amazon.com{{ row.listing_url }}"><span class="mdi">open_in_new</span></a
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="pagination">
      <mat-form-field class="limit">
        <mat-label>Limit</mat-label>
        <mat-select [(ngModel)]="limit" (selectionChange)="search()">
          <mat-option value="">-Select-</mat-option>
          <mat-option *ngFor="let l of limits" [value]="l">
            {{ l }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ul>
        <li (click)="search(1)" [ngClass]="{ disabled: activePage === 1 }">
          <span class="mdi">first_page</span>
        </li>
        <li
          (click)="search(activePage - 1)"
          [ngClass]="{ disabled: activePage === 1 }"
        >
          <span class="mdi">chevron_left</span>
        </li>
        <li
          (click)="page(i)"
          *ngFor="let i of pageNos"
          [ngClass]="{ active: i === activePage }"
        >
          {{ i }}
        </li>
        <li
          (click)="search(activePage + 1)"
          [ngClass]="{ disabled: activePage === pages }"
        >
          <span class="mdi">chevron_right</span>
        </li>
        <li
          (click)="search(pages)"
          [ngClass]="{ disabled: activePage === pages }"
        >
          <span class="mdi">last_page</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="no-data" *ngIf="!(products && products.length)">
    [0] Products Available.<br />Refine Your Search.
  </div>
</div>