<div class="products">
    <div class="filter">
        <h3>Search For Products</h3>
        <form [formGroup]="filter">
            <mat-form-field>
                <mat-label>Choose a Category</mat-label>
                <mat-select formControlName="category" (selectionChange)="updateSubCategory($event)">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px">
                <mat-label>Choose a Sub Category 1</mat-label>
                <mat-select formControlName="subCategory" (selectionChange)="updateSubCategory1($event)" [disabled]="!(subCategories && subCategories.length)">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories" [value]="sCategory">
                        {{sCategory.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories1 && subCategories1.length">
                <mat-label>Choose a Sub Category 2</mat-label>
                <mat-select formControlName="subCategory1">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories1" [value]="sCategory">
                        {{sCategory.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="left10px" mat-raised-button color="primary" (click)="search()"
                [disabled]="!filter.value.category || !filter.value.subCategory"><span
                    class="mdi">filter_alt</span>Filter</button>
            <button class="left10px" mat-raised-button color="primary" (click)="download()"
                [disabled]="!filter.value.category || !filter.value.subCategory"><span
                    class="mdi">download</span>Download</button>
            <button class="left10px" mat-raised-button color="secondary" (click)="setFilter()"><span
                    class="mdi">clear_all</span>Reset</button>
        </form>
    </div>
    <div *ngIf="products && products.length">
        <table mat-table [dataSource]="products">
            <ng-container matColumnDef="asin">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10"> ASIN. </th>
                <td mat-cell *matCellDef="let element"> {{element.asin}} </td>
            </ng-container>
            <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10"> SKU. </th>
                <td mat-cell *matCellDef="let element"> SKU{{element.sku}} </td>
            </ng-container>
            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef class="p-10"> Label. </th>
                <td mat-cell *matCellDef="let element"> {{element.label}} </td>
            </ng-container>
            <ng-container matColumnDef="item_dimensions_weight">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10"> Weight. </th>
                <td mat-cell *matCellDef="let element"> {{element.item_dimensions_weight}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10"> Price. </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef class="w-icon p-10"></th>
                <td mat-cell *matCellDef="let row"><a target="_blank" href="https://www.amazon.com{{row.listing_url}}"><span class="mdi">open_in_new</span></a></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="pagination">
            <ul>
                <li (click)="page(i+1)" *ngFor="let item of [].constructor(pages); let i = index"
                    [ngClass]="{'active': i+1 === activePage}">{{i+1}}</li>
            </ul>
        </div>
    </div>
    <div class="no-data" *ngIf="!(products && products.length)">
        [0] Products Available.<br>Refine Your Search.
    </div>
</div>