<div class="category-manager">
    <h3>Set Store</h3>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Choose a Category</mat-label>
            <mat-select formControlName="category" (selectionChange)="updateSubCategory($event)">
                <mat-option value=''>-Select-</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="left10px" *ngIf="subCategories && subCategories.length">
            <mat-label>Choose a Sub Category</mat-label>
            <mat-select formControlName="subCategory" (selectionChange)="updateStoreId($event)">
                <mat-option value=''>-Select-</mat-option>
                <mat-option *ngFor="let sCategory of subCategories" [value]="sCategory">
                    {{sCategory.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="left10px range" *ngIf="form && form.value && form.value.category">
            <mat-label>Store Id</mat-label>
            <input formControlName="storeId" matInput type="number">
        </mat-form-field>
        <button class="left10px" mat-raised-button color="primary" (click)="update()" [disabled]="!form.value.storeId"><span class="mdi">update</span>Update</button>
        <button class="left10px" mat-raised-button color="secondary" (click)="cancel()"><span class="mdi">clear_all</span>Cancel</button>
    </form>
</div>