<div class="notifications">
    <h3>Notifications 
        <div class="actions" *ngIf="notifications && notifications.length">
            <button mat-raised-button color="primary" (click)="applyUpdate()">Apply Update</button>
            <button mat-raised-button color="primary" class="left10px" (click)="download()">Download</button>
        </div>
    </h3>
    <div *ngIf="notifications && notifications.length">
        <table mat-table [dataSource]="notifications">
            <ng-container matColumnDef="asin">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10"> ASIN. </th>
                <td mat-cell *matCellDef="let element"> {{element.asin}} </td>
            </ng-container>
            <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10"> SKU. </th>
                <td mat-cell *matCellDef="let element"> SKU{{element.sku}} </td>
            </ng-container>
            <ng-container matColumnDef="salePrice">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10"> Sale Price ($). </th>
                <td mat-cell *matCellDef="let element"> {{element.salePrice}} </td>
            </ng-container>
            <ng-container matColumnDef="shippingPrice">
                <th mat-header-cell *matHeaderCellDef class="w-120 p-10"> Shipping Price ($). </th>
                <td mat-cell *matCellDef="let element"> {{element.shippingPrice}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="pagination">
            <ul>
                <li (click)="page(i+1)" *ngFor="let item of [].constructor(pages); let i = index"
                    [ngClass]="{'active': i+1 === activePage}">{{i+1}}</li>
            </ul>
        </div>
    </div>
    <div class="no-data" *ngIf="!(notifications && notifications.length)">
        [0] Notifications Available.<br>Refine Your Search.
    </div>
</div>