<div class="job-scheduler">
    <div class="filter" *ngIf="app.create('scheduler')">
        <h3>Schedule a Job</h3>
        <form [formGroup]="newJob">
            <mat-form-field>
                <mat-label>Choose a Category</mat-label>
                <mat-select formControlName="category" (selectionChange)="updateSubCategory($event)">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories && subCategories.length">
                <mat-label>Choose a Sub Category 1</mat-label>
                <mat-select formControlName="subCategory" (selectionChange)="updateSubCategory1($event)">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories" [value]="sCategory">
                        {{sCategory.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories1 && subCategories1.length">
                <mat-label>Choose a Sub Category 2</mat-label>
                <mat-select formControlName="subCategory1" (selectionChange)="updateSubCategory2($event)">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories1" [value]="sCategory">
                        {{sCategory.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories2 && subCategories2.length">
                <mat-label>Choose a Sub Category 3</mat-label>
                <mat-select formControlName="subCategory2" (selectionChange)="updateSubCategory3($event)">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories2" [value]="sCategory">
                        {{sCategory.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="subCategories3 && subCategories3.length">
                <mat-label>Choose a Sub Category 4</mat-label>
                <mat-select formControlName="subCategory3">
                    <mat-option value=''>-Select-</mat-option>
                    <mat-option *ngFor="let sCategory of subCategories3" [value]="sCategory">
                        {{sCategory.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px" *ngIf="duration && duration.length">
                <mat-label>Interval</mat-label>
                <mat-select formControlName="interval">
                    <mat-option *ngFor="let d of duration" [value]="d">
                        {{d}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="left10px range">
                <mat-label>Data From</mat-label>
                <input formControlName="from" #from matInput [maxlength]="config.maxRange"
                    (keyup)="checkRange($event, config.maxRange)">
            </mat-form-field>
            <mat-form-field class="left10px range">
                <mat-label>Data To</mat-label>
                <input formControlName="to" #to matInput [maxlength]="config.maxRange"
                    (keyup)="checkRange($event, config.maxRange)">
            </mat-form-field>
            <mat-checkbox color="primary" class="left10px" formControlName="prime">Only Prime</mat-checkbox>
            <mat-checkbox color="primary" class="left10px" *ngIf="newJob.value.interval !== 'Now'"
                formControlName="recursive">Recursive Job</mat-checkbox>
            <button mat-raised-button color="primary" (click)="seheduleJob()"
                [disabled]="!newJob.value.category || !newJob.value.subCategory"><span
                    class="mdi">schedule</span>Schedule</button>
            <button mat-raised-button color="secondary" (click)="setJob()"><span
                    class="mdi">clear_all</span>Reset</button>
        </form>
    </div>
    <div>
        <button mat-raised-button color="secondary" (click)="showJobs()"><span class="mdi">refresh</span>Refresh
            Scheduled Jobs</button>
    </div>
    <!-- <div class="scheduled-jobs">
        <h4 *ngIf="jobs && jobs.length">Active Jobs</h4>
        <ul>
            <li *ngFor="let job of jobs"
                [ngClass]="{'orange': job.status === 'Job Scheduled', 'green': job.status === 'Job Started', 'ok': job.status === 'Job Completed'}">
                <div>{{job.name}}</div>
                <div>{{job.status}}
                    <span class="mdi" *ngIf="job.status === 'Scheduled'">alarm_on</span>
                    <span class="mdi" *ngIf="job.status === 'Job Started'">autorenew</span>
                    <span class="mdi" *ngIf="job.status === 'Job Completed'">done_all</span>
                </div>
                <div>{{job.scheduledAt | date: 'medium'}}</div>
            </li>
        </ul>
    </div> -->

    <div class="scrapped-data" *ngIf="rawJobs && rawJobs.length">
        <div class="header">
            <h5>Scheduled Jobs</h5>
            <div class="search">
                <mat-form-field class="example-form-field">
                    <mat-label>Search Jobs</mat-label>
                    <input matInput type="text" [(ngModel)]="value" (ngModelChange)="search(value)">
                    <span class="mdi" *ngIf="value" (click)="value=''; search(value)">close</span>
                </mat-form-field>
            </div>
            <!-- <button mat-icon-button color="primary" *ngIf="jobs && jobs.length">
                <span class="mdi" (click)="download()">download_for_offline</span>
            </button> -->
        </div>
        <table mat-table [dataSource]="jobs" *ngIf="jobs && jobs.length">
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> CATEGORY. </th>
                <td mat-cell *matCellDef="let element" [title]="element.category.name"> {{element.category.name}} </td>
            </ng-container>
            <ng-container matColumnDef="subCategory">
                <th mat-header-cell *matHeaderCellDef> SUB-CATEGORY. </th>
                <td mat-cell *matCellDef="let element" [title]="element.subCategory.name"> {{element.subCategory.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="subCategory1">
                <th mat-header-cell *matHeaderCellDef> SUB-CATEGORY 1. </th>
                <td mat-cell *matCellDef="let element" [title]="element.subCategory1 && element.subCategory1.name
                ? element.subCategory1.name : ' -'"> {{element.subCategory1 && element.subCategory1.name
                    ? element.subCategory1.name : ' -'}} </td>
            </ng-container>
            <ng-container matColumnDef="subCategory2">
                <th mat-header-cell *matHeaderCellDef> SUB-CATEGORY 2. </th>
                <td mat-cell *matCellDef="let element" [title]="element.subCategory2 && element.subCategory2.name
                ? element.subCategory2.name : ' -'"> {{element.subCategory2 && element.subCategory2.name
                    ? element.subCategory2.name : ' -'}} </td>
            </ng-container>
            <ng-container matColumnDef="subCategory3">
                <th mat-header-cell *matHeaderCellDef> SUB-CATEGORY 3. </th>
                <td mat-cell *matCellDef="let element" [title]="element.subCategory3 && element.subCategory3.name
                ? element.subCategory3.name : ' -'"> {{element.subCategory3 && element.subCategory3.name
                    ? element.subCategory3.name : ' -'}} </td>
            </ng-container>
            <ng-container matColumnDef="interval">
                <th mat-header-cell *matHeaderCellDef> INTERVAL. </th>
                <td mat-cell *matCellDef="let element" [title]="element.interval"> {{element.interval ? element.interval
                    : '--'}} </td>
            </ng-container>
            <ng-container matColumnDef="from">
                <th mat-header-cell *matHeaderCellDef> DATA From. </th>
                <td mat-cell *matCellDef="let element" [title]="element.from"> {{element.from}} </td>
            </ng-container>
            <ng-container matColumnDef="to">
                <th mat-header-cell *matHeaderCellDef> DATA To. </th>
                <td mat-cell *matCellDef="let element" [title]="element.to"> {{element.to}} </td>
            </ng-container>
            <ng-container matColumnDef="recursive">
                <th mat-header-cell *matHeaderCellDef> RECURSIVE. </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.interval === 'Now'">-</span>
                    <mat-checkbox *ngIf="element.interval !== 'Now'" (ngModelChange)="recursiveChange(element)"
                        [(ngModel)]="element.recursive" [disabled]="element.interval === 'Now'"></mat-checkbox>
                    <!-- <span class="mdi" [ngClass]="{'no': !element.recursive}">check_box</span> -->
            </ng-container>
            <ng-container matColumnDef="prime">
                <th mat-header-cell *matHeaderCellDef> PRIME. </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [(ngModel)]="element.prime" (ngModelChange)="primeChange(element)"
                        [disabled]="element.interval === 'Now'"></mat-checkbox>
                    <!-- <span class="mdi" [ngClass]="{'no': !element.prime}">check_box</span> -->
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> SCHEDULED ON. </th>
                <td mat-cell *matCellDef="let element" [title]="element.createdOn"> {{element.createdOn | date:
                    'medium'}} </td>
            </ng-container>
            <ng-container matColumnDef="scheduledBy">
                <th mat-header-cell *matHeaderCellDef> SCHEDULED BY. </th>
                <td mat-cell *matCellDef="let element" [title]="element.scheduledBy"> {{element.scheduledBy}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> STATUS. </th>
                <td mat-cell *matCellDef="let element" [title]="element.status" [title]="element.status">
                    <span class="mdi" *ngIf="element.status === 'New'">fiber_new</span>
                    <span class="mdi" *ngIf="element.status === 'Scheduled'">add_task</span>
                    <span class="mdi loop" *ngIf="element.status === 'Running'">loop</span>
                    <span class="mdi red" *ngIf="element.status === 'Error'"
                    [matTooltip]="element.message"> warning_amber </span>
                    <span class="mdi completed" *ngIf="element.status === 'Completed'">done_all</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="percentage">
                <th mat-header-cell *matHeaderCellDef> Completion (%). </th>
                <td mat-cell *matCellDef="let element">
                    {{element.percentage ? element.percentage : 0}}%
                    <span *ngIf="element.paused"> - Job Paused</span>
                    <mat-progress-bar mode="determinate" [value]="element.percentage" *ngIf="!element.paused">
                    </mat-progress-bar>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <span
                        *ngIf="(row.status !== 'Running' && row.status !== 'Scheduled' && row.status !== 'Error' && row.status !== 'Completed') && app.create('scheduler')"
                        [title]="(!row.paused ? 'Stop' : 'Resume') + ' Job'" (click)="pauseJob(row)"
                        class="mdi">{{!row.paused ? 'stop' : 'play_arrow'}}</span>
                    <span *ngIf="row.status !== 'Running' && row.status !== 'Scheduled' && app.delete('scheduler')"
                        title="Delete Job" (click)="removeJob(row.scheduleId)" class="mdi">clear</span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'inactive': !row.active}"></tr>
        </table>
        <!-- <div *ngIf="jobs && !jobs.length">No Jobs Scheduled!</div> -->
    </div>
    <div class="no-data" *ngIf="!(rawJobs && rawJobs.length)">[0] Scheduled Jobs Available</div>
</div>