.core {
    height: 100%;
    header {
        background: #3f51b5;
        padding: 15px 8px;
        color: #fff;
        font-weight: 400;
        label {
            text-transform: uppercase;
        }
    }
}