.core {
    height: 100%;
    header {
        background: #3f51b5;
        padding: 15px 8px;
        color: #fff;
        font-weight: 400;
        label {
            text-transform: uppercase;
        }
        ul {
            float: right;
            display: flex;
            li {
                display: inline-flex;
                margin-right: 18px;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}