.configuration {
    padding: 15px;
    .left10px {
      margin-left: 10px;
    }
    .width80p {
        width: 80%;
    }
    .w150px {
        width: 280px;
    }
    .danger {
        color: #eb4034;
    }
    .add-actions {
        float: right;
    }
}