/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&display=swap");
@import url("./assets/font/scss/md.scss");
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
* {
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0;
  margin: 0;
}


button {
  span.mdi {
    margin-right: 5px;
    vertical-align: -6px !important;
  }
}


table {
  width: 100%;
  table-layout: fixed;

  th,
  td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


.pagination {
  margin-top: 15px;
  ul {
    text-align: center;
      li {
        display: inline-block;
        color: #3f51b5;
        background: #fff;
        padding: 8px;
        border: 1px solid #ddd;
        width: 25px;
        text-align: center;
        cursor: pointer;
        &.active {
            background: #3f51b5;
            color: #fff;
            cursor: default;
        }
      }
  }
}

.no-data {
  padding: 15px 0;
  color: #3f51b5;
}
.left10px {
  margin-left: 10px !important;
}
.right10px {
  margin-right: 10px !important;
}

.date {
  width: 120px;
}

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  tr, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-weight: normal;
  }
  th {
    color: #3f51b5;
  }
  th, td {
    padding: 10px;
  }
}

.red {
  color: red;
}
.blue {
  color: #3f51b5;
}
