/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;700&display=swap");
@import url("./assets/font/scss/md.scss");
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
* {
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0;
  margin: 0;
}


button {
  span.mdi {
    margin-right: 5px;
    vertical-align: -6px !important;
  }
}


table {
  width: 100%;
  table-layout: fixed;

  th,
  td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
